@using Csb.YerindeDonusum.Application.Enums;
@using Csb.YerindeDonusum.WebApp.Areas.Admin.Enums;
@using Csb.YerindeDonusum.Application.Extensions;
@model Csb.YerindeDonusum.Application.CQRS.TebligatCQRS.Queries.GetirTebligatGonderimDetayById.GetirTebligatGonderimDetayByIdQueryResponseModel;
@{
    Layout = null;
    string TebligatControllerUrl = "/admin/tebligat";
}
@if (ViewBag.HataMesaji != null)
{
    @ViewBag.HataMesaji
}
else
{
    <html>
    <head>
        <link href="/admin/metronic/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
        <link href="/admin/metronic/assets/css/custom.css" rel="stylesheet" type="text/css" />
        <link href="/admin/metronic/assets/css/print.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="p-7">
        <div class="text-right">
            <img class="w-100px h-100px" src="~/img/logo-yuvarlak.png" />
        </div>
        <br />
        <h3 class="text-center">7452 sayılı Kanun Ek-1 inci Maddesi Kapsamında Yerinde Dönüşüm Projesine Dahil Olan Yapılardaki Anlaşma Sağlanamayan/Ulaşılamayan Maliklere Yönelik Tebligat Tutanağı</h3>
        <h3 class="text-center">(Anlaşmaya İştirak)</h3>
        <br />

        <p style="text-align: justify;">
            &emsp;@Model.TapuIlAdi İli, @Model.TapuIlceAdi İlçesi, @Model.TapuMahalleAdi Mahallesi, @Model.TapuAda ada @Model.TapuParsel parsel @Model.TapuTasinmazId.ToString() numaralı taşınmaz üzerinde iken 06.02.2023 tarihli depremler neticesinde 7269 sayılı Kanun uyarınca @Model.HasarTespitAskiKodu askı kodu ile @Model.HasarTespitHasarDurumu olarak tespit edilerek yıkılan/yıkılması kesinleşen yapının; 7452 sayılı Olağanüstü Hal Kapsamında Yerleşme Ve Yapılaşmaya İlişkin Cumhurbaşkanlığı Kararnamesinin Kabul Edilmesine Dair Kanunun ek 1’inci maddesine istinaden yürütülen Yerinde Dönüşüm Projesi ile yerinde yeniden yapımına yönelik maliklerin hisseleri oranında salt çoğunluk sağlanarak İdaremize başvuru yapıldığı tespit edilmiştir.
        </p>

        <p style="text-align: justify;">
            &emsp;7452 sayılı Kanunun Ek-1’inci maddesinin beşinci fıkrasında, <i>“Yapılacak yeni uygulamalar ve bu uygulamaların gerektirdiği; tevhit, ifraz, alan düzeltme, taksim, ihdas, terk, tescil, vb. işlemler, yıkım ve yapıma ilişkin her türlü izin ve ruhsat iş ve işlemleri, kat irtifakı ve kat mülkiyeti tesisine ilişkin işlemler ile diğer idareler/kurum ve kuruluşlar nezdinde, maliklerin tamamının muvafakatiyle yürütülmesi gereken tüm iş ve işlemler hisseleri oranında maliklerin salt çoğunluğu ile alacağı karara istinaden yapılır. Yeni yapı yapılacak parselde yıktırılmayıp korunması gereken yapı var ise karar, yıktırılan yapıların maliklerinin salt çoğunluğu ile alınır. <u>Anlaşma sağlanamayan ve kendisine ulaşılamayan maliklerin hisseleri ruhsat vermeye yetkili idarenin talebine istinaden, yapım işi tamamlanıp malikleri adına tescil edilinceye kadar geçici olarak tapuda Hazine adına tescil olunur.</u> Yeni yapılacak uygulamalara yönelik olarak ilgili idareler/kurum ve kuruluşlar nezdinde yapılacak tüm iş ve işlemler tapuda kayıtlı son malik adına yürütülebilir. <u>Bu madde kapsamında maliklere yapılacak tebligatlar e-Devlet Kapısı üzerinden bildirim yapılması ve ilgili muhtarlıklarda on beş gün süre ile ilan edilmesi suretiyle yapılır. Bu şekilde yapılan tebligatlar 11/2/1959 tarihli ve 7201 sayılı Tebligat Kanunu hükümlerine göre yapılan tebligat yerine geçer.”</u></i> hükmü haizdir.
        </p>

        <p style="text-align: justify;">
            &emsp;Bu suretle iş bu Tutanak; ayni ve şahsi hak sahiplerine tebliğ yerine kaim olmak üzere, e-Devlet Kapısı üzerinden bildirilecek ve muhtarlıkta on beş gün süre ile ilan edilecektir. Muhtarlıkta yapılan ilanın son günü ayni ve şahsi hak sahiplerine tebligat yapılmış sayılacaktır. Muhtarlıkta yapılacak ilanın süresinin dolmasından itibaren başlamak üzere, maliklerin hisseleri oranında salt çoğunluğu ile aldığı karara iştirak edilmesi için diğer maliklere 15 (onbeş) gün süre verilmiştir.
        </p>

        <p style="text-align: justify;">
            &emsp;Hissedarı olunan taşınmaza ilişkin maliklerin hisseleri oranında salt çoğunluğu ile aldıkları karar doğrultusunda hazırlanan sözleşme taslağı ve eki dağıtım cetvelinin @Model.TapuIlAdi / @Model.TapuIlceAdi Belediye Başkanlığı/Çevre, Şehircilik ve İklim Değişikliği İl Müdürlüğü nezdinde incelenerek nihai kararın; verilen süre içerisinde İdaremize dilekçe ile bildirilmesi gerekmektedir.
        </p>

        <p style="text-align: justify;">
            &emsp;Anlaşmaya katılım sağlanmadığı halde; yapının yerinde yeniden yapımına ilişkin süreçte zikredilen taşınmazdaki hisselerin 7452 sayılı Kanun uyarınca yapım işi tamamlanıp malikleri adına tescil edilinceye kadar geçici olarak tapuda Hazine adına tescil işlemlerinin başlatılarak, uygulamaların salt çoğunluğun kararına istinaden devam ettirileceği hususları;
        </p>

        <p style="text-align: justify;">
            &emsp;Tebliğ olunur. (@Model.TebligTarihi?.ToString("dd/MM/yyyy"))
        </p>

        <br />
        <br />
        <br />

        <table class="table align-middle gy-2 gs-2">
            <tbody class="fs-6 fw-semibold text-gray-600">
                <tr>
                    <td style="width:300px; text-align: center;"><p>Yetkili Personel</p></td>
                    <td><p style="text-align: center;"></p></td>
                    <td style="width:300px; text-align: center;"><p>Yetkili Amir</p></td>
                </tr>
                <tr>
                    <td style="width:300px; text-align: center;"><p>İmza</p></td>
                    <td><p style="text-align: center;"></p></td>
                    <td style="width:300px; text-align: center;"><p>İmza</p></td>
                </tr>
                <tr>
                    <td style="width:300px; text-align: center;"><p></p></td>
                    <td style="width:300px; text-align: center;"><p>Mühür</p></td>
                    <td style="width:300px; text-align: center;"><p></p></td>
                </tr>
            </tbody>
        </table>
    </body>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            window.print();
        });
    </script>
    </html>
}